body{
    color: #d8d8d8;
    background-color: #484848;
}
#logo img {
    width: 150px;
    border: 2px solid #9946f8;
    border-radius: 20px;
}
.secao{
   border: 2px solid #9946f8;
    border-radius: 10px;
    padding: 10px;
    margin-top: 2px;
    margin-bottom: 5px;
}
